aws_region = "ap-northeast-2"

project_name = "ft"

devices = {
  raspi1 = {
    thing_name   = "ft-pi-001"
    topic_prefix = "devices/ft/pi-001"
    description  = "라즈베리파이 1번"
  }
}

common_tags = {
  Project = "factory-tycoon"
  Module  = "iot"
  Env     = "dev"
}
