github_username = "your-github-username"
github_pat      = "ghp_xxxxxxxxxxxxxxxxxxxxxx"

aws_region = "ap-northeast-2"

# GLB Secrets 
# (s3 = factory-tycoon : lg_cns_5team)
# (s3 = factory-tycoon2 : lyj2174)

aws_s3_bucket = "s3_name"


# Backend Secrets


mariadb_url      = "jdbc:mysql://HOST:PORT/DATABASE"
mariadb_username = "username"
mariadb_password = "password"
jwt_secret_key   = "your-secret-key-change-this-in-production-min-256-bits

spring_mail_host = "smtp.gmail.com"
spring_mail_username = "gmail-address"
spring_mail_password = "app-password"

redis_channel  = "sensor_data"
websocket_path = "/ws"

